<div id="popup"><!-- to be filled in through javascript with the popups --></div>
<footer>
    <ul>
        <li>
            <a id="reference" class="no-underline" href="#"> Image References </a>
        </li>
    </ul>
    <div class="footer-logo">
    </div>
    <hr class="footer-line">
</footer>