<div id="popup">
    <!-- to be filled in through javascript with the popup -->
</div>

<footer>
    <ul>
        <li>
            <a id="reference" class="no-underline" href="#"> Image References </a>
        </li>
    </ul>
    <hr class="footer-line">
</footer>