<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LearnR</title>

    <script src="/js/jquery-2.0.0.min.js" defer></script>
    <script src="/js/footer.js" defer></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" defer></script>
    

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/coursedesc-style.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-coursedesc-style.css">
	
	<!-- include files necessary for the searchbar -->
	{{> searchbar_head }}

    <script> 


    function updateImg(event) {
            var output = document.getElementById('banner_img');
            output.src = URL.createObjectURL(event.target.files[0]);
    }
    function validateForm() {
        var courseTitle = document.forms["course-form"]["courseTitle"].value;
        var courseDesc = document.forms["course-form"]["courseDesc"].value;
        var courseReqs = document.forms["course-form"]["courseReqs"].value;
        var courseBanner = document.forms["course-form"]["courseBanner"].value;
        // file input validation, file size, file dimensions, file type (must be image) etc
        reset();
        var num_errors = 0;
        var pattern = /\w*(asdf)+\w*/i;
        var pat2 = /[a-z0-9]{5,}/i;
        if (pattern.test(courseTitle)) {
            num_errors++;
            $("#div-title").append("<span id=\"helpBlock1\" class=\"help-block\">Please enter a valid course title.</span>");
            $("#form-title").addClass("has-error");
        } 
        else if (!pat2.test(courseTitle)) {
            num_errors++;
            $("#div-title").append("<span id=\"helpBlock1\" class=\"help-block\">No special characters, must be a minumum of 5 characters.</span>");
            $("#form-title").addClass("has-error");
        } else {    
        $("#form-title").addClass("has-success");
        }
        if (courseDesc.length < 50) {
            num_errors++;
            $("#div-desc").append("<span id=\"helpBlock2\" class=\"help-block\">Description is too short.</span>");
            $("#form-desc").addClass("has-error");
        } else {
            $("#form-desc").addClass("has-success");
        }
        if (courseReqs.length < 50) {
            num_errors++;
            $("#div-req").append("<span id=\"helpBlock3\" class=\"help-block\">Requirements is too short.</span>");
            $("#form-req").addClass("has-error");
        } else {
            $("#form-req").addClass("has-success");
        }
        var pattern = /(\.gif$|\.jpg$|\.png$)/i;
        if (!pattern.test(courseBanner) && courseBanner != "") {
            num_errors++;
            $("#div-banner").append("<span id=\"helpBlock4\" class=\"help-block\">Please upload an image file</span>");
            $("#form-banner").addClass("has-error");
        }
        else {
             $("#form-banner").addClass("has-success");
        }
        return num_errors == 0;
    }
    function reset() {
        $(".help-block").remove();
        $("#form-title").removeClass("has-success has-error");
        $("#form-req").removeClass("has-success has-error");
        $("#form-desc").removeClass("has-success has-error");
        $("#form-banner").removeClass("has-success has-error");
    }
    </script>
</head>
<body class="global_font container-fluid">
	{{> nav }}
	{{#if loggedIn}}
	<div class="container">
        <h1 class="standard-font">Create a Course </h1>
        <hr>
        <form name="course-form" class='form-horizontal' enctype="multipart/form-data" action="/createcourse" onsubmit="return validateForm()" method="post">
           

            <!-- edit form column -->
            <div class="col-md-8">
                <div class="container"></div>
                <div id="fields">
                    <h3 class="standard-font">Course Details</h3>


                    <div class="form-group" id="form-title">

                        <label class="col-md-2 control-label">Course Title</label>
                        <div class="col-md-10" id = "div-title">
                            <input name="courseTitle" maxlength= "20" class="form-control" placeholder="Example: Origami 101" type="text" required value={{courseTitle}}>
                            <span id="helpBlock1" class="help-block">{{courseTitleErr}}</span>

                        </div>
                    </div>
                    <div class="form-group" id="form-desc">
                        <label class="col-md-2 control-label">Course Description</label>
                        <div class="col-lg-10"  id = "div-desc">
                            <textarea name="courseDesc" placeholder="Enter Course description here (500 char limit)" maxlength="500" class="form-control" rows="5" required> {{courseDesc}} </textarea>
                            
                        </div>
                    </div>

                    <div class="form-group" id="form-req">

                        <label class="col-md-2 control-label">Requirements </label>
                        <div class="col-md-10"  id = "div-req">
                            <textarea name="courseReqs" class="form-control" rows="5" maxlength="500" placeholder="Enter Course Requirements Here (500 char limit)" required> {{courseReqs}} </textarea>
                        
                        </div>
                    </div>

                </div>
                <div class="form-group" id="form-banner"> 
                    <label class="col-md-2 control-label">Course Banner </label>
                    <div class="col-md-10" id="div-banner">
                    <img src="./img/study.jpg" id="banner_img" style="width: 140px; height: 120px;" class="img-circle" alt="course banner">
                     
                    <h6>Upload a course banner image or keep default</h6>
                     <input name= "courseBanner" class="col-md-10" type="file" accept='image/*' onchange="updateImg(event)"> 
                     <span id="helpBlock4" class="help-block"> {{courseBannerErr}} </span>
                     </div> 
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input id="save" class="standard-blue-button" value="Create Course" type="submit">
                    </div>
                </div>
            </div>
        </form>
    </div>
    {{else}}
    <div class="container" style="margin-top: 100px; margin-bottom: 100px; margin-left: auto; margin-right: auto;">
                <h1> Uh Oh ! </h1>
                <h3> You must be logged in to create a course! <a href=""> Sign in </a> or <a href=""> Sign Up </a></h3>
    </div>
    {{/if}}
        <footer>
            <ul>
                <li>
                    <a id="reference" class="no-underline" href="#"> Image References </a>
                </li>
            </ul>
            <div class="footer-logo">
            </div>
            <hr class="footer-line">
        </footer>
</body>
</html>