<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>learnr</title>
</head>
<body>
	{{> user_header }}
	
	<main>
		<p>demo page</p>
		
		<p> we know of {{userCount}} user(s) </p>
		
		{{#if demo}}
			<p> demo only text! </p>
		{{else}}
			<p> non-demo text </p>
		{{/if}}
	</main>
</body>
</html>