<!DOCTYPE html>
<html>
<!-- Head starts here. Define stylesheet and total width. -->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LearnR</title>

	<!-- libraries -->
    <script src="/js/jquery-3.0.0.min.js" defer></script>
	<script src="/js/socket.io.js" defer></script>
	
	<!-- include files necessary for the searchbar -->
	{{> searchbar_head }}
	
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" defer></script>
	
	<!-- custom files -->
	<script src="/js/messaging.js" defer></script>
    <script src="/js/footer.js" defer></script>
    <script src="/js/logout.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/messaging.css">
</head>

<!-- Body starts here, where content is. -->

<body class="global_font nomargin">
    {{> nav }}

    <main id="messaging" class="container">
        <!-- divide the screen into two columns: one for the user list and one for the chat area -->
        <div class="row">
            <section id="user-list" class="hidden-xs col-sm-5 col-md-4 col-lg-3">
				<div id="user-search">
					<input id="user-search-text" class="form-control" type="text" placeholder="Search online users..."></input>
					<div id="user-search-dropdown"><!-- to be filled in through javascript with the search suggestions --></div>
				</div>
				<!-- user rows will be added in here through javascript -->
            </section>

            <!-- chat area -->
            <section id="chat-area" class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                <!-- each user conversation will be added in here through javascript -->

				<!-- common input/send area -->
                <div id="message-send-area" class="input-group">
                    <input type="text" id="message-text" class="form-control" name="message-text" placeholder="Enter message..."></input>
                    <span class="input-group-btn">
							<button id="message-send" class="btn btn-primary">Send</button>
						</span>
                </div>
            </section>
        </div>
    </main>

    <div id="popup">
    </div>
    <footer>
        <ul>
            <li>
                <a id="reference" class="no-underline" href="#"> Image References </a>
            </li>
        </ul>
        <div class="footer-logo">
        </div>
        <hr class="footer-line">
    </footer>
</body>

</html>