/* styling for autocomplete suggestions on all dropdowns */
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default; }
    
.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}