button.btn-primary {
    background-color: #3498db;
    background-image: none;
    border-color: #3498db;
}

nav.standard-headbar {
    margin-bottom: 10px;
}


footer {
    margin-top: 20px;
    text-align: center;
}


/* user list */
section#user-list {
    border: 1px solid #e5e5e5;
}

section#user-list div.user {
    border-bottom: 1px solid #e5e5e5;
    
    cursor: pointer;
}

/* make the user row a light red if there is a new message */
section#user-list div.user.new-message-exists {
    background-color: #F9D9D8;
}

/* make the last message text bold if there is a new message */
section#user-list div.user.new-message-exists p.last-message {
    font-weight: bold;
}

/* add a light background to the selected user */
section#user-list div.user.selected {
    background-color: #badcf3;
}

section#user-list div.user:hover {
    background-color: #f5f5f5;
}

/* make each user row a bit larger, and eliminate the margin added by p */
section#user-list div.user p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
}

/* by default, make the offline icons red and hide them */
section#user-list i.offline-icon {
    display: none;
    color: #d60000;
}

/* show the offline icon if the user is marked as being offline */
section#user-list div.user.offline i.offline-icon {
    display: inline;
}

/* trim long messages in the last message field */
section#user-list p.last-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* user search autocomplete styling */
#user-search {
    margin-bottom: 8px;
}

#user-search .autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default; }
    
#user-search .autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
}

#user-search .autocomplete-selected {
    background: #f0f0f0;
}

#user-search .autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}

/* messages */
/* remove the negative margin so that the conversation rows have some padding;
 * also add in scrolling if needed
 */
section#chat-area div.conversation.row {
    margin-right: 0;
    margin-left: 0;
    
    overflow-x: auto;
}

p.message {
    margin-bottom: 0.5em;
    padding: 0.25em 0.5em;
    border-width: 1px;
    border-style: solid;
    
    word-wrap: break-word;
}

p.sent-message {
    text-align: right;
}

/* message states */
p.pending-message {
    border-color: orange;
}

p.failed-message {
    border-color: red;
}

p.successful-message {
    border-color: green;
}


/* hide the message input area if there are no conversations */
section#chat-area #message-send-area:first-child {
    display: none;
}

/* landscape mobile and larger ---------------------------------------------*/
@media screen and (min-width: 480px) {
}


/* tablet mode and larger --------------------------------------------------*/
@media screen and (min-width: 768px) {
}


/* landscape tablet and desktop mode ---------------------------------------*/
@media screen and (min-width: 1024px) {
}