/* global style starts*/

.global_font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0px !important;
}

.invis, .invisible {
    display: none;
}

.profile_error {
    display: none;
}

.profile_error {
    position: absolute;
    width: 100%;
    display: none;
}

.empty-class-list{
    font-size: 140%;
}

.standard-link:link {
    color: #757575;
    background-color: transparent;
    text-decoration: none
}

.standard-link:visited {
    color: #34495e;
    background-color: transparent;
    text-decoration: none
}

.standard-link:hover {
    color: #bdc3c7;
    background-color: transparent;
    text-decoration: none
}

.standard-link:active {
    color: #f1c40f;
    background-color: transparent;
    text-decoration: none
}

.standard-clear-button {
    color: #777;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    z-index: 2;
}

.standard-clear-button:hover {
    color: white;
    text-decoration: none;
    background-color: #777;
}

.standard-blue-button {
    color: #fff;
    padding: 15px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    background-color: #3498db !important;
    background-image: none !important;
    border: none;
    border-radius: 0;
    z-index: 2;
}

.standard-blue-button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #265a88 !important;
}

.standard-red-button {
    margin-left: 8px;
    padding: 15px;
    background-color: #ff5a5f;
    background-image: none !important;
    border: none;
    border-radius: 0;
}

.standard-red-button:hover {
    background-color: #e74c3c;
}

.standard-green-button {
    margin-left: 8px;
    padding: 15px;
    color: #ffffff !important;
    background-color: #1abc9c;
    background-image: none !important;
    border: none;
    border-radius: 0;
}

.standard-green-button:active {
    color: #ffffff !important;
    background-color: #16a085;
}

.standard-green-button:hover {
    color: #ffffff;
    background-color: #16a085;
}

.headerbar-title-anchor {
    color: #337ab7;
}

.headerbar-title-anchor:hover {
    color: #3498db;
}

.headerbar-title-anchor:active {
    text-decoration: none;
    color: #3498db;
}

.headerbar-title-anchor:focus {
    text-decoration: none;
    color: #3498db;
}

.headerbar-title-anchor:visited {
    color: #3498db;
}

.standard-headbar {
    width: 100%;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

.abs_center_search {
    width: 500px;
    height: 50px;
    z-index: 20;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

p.password-mismatch-message {
    font-weight: 300;
    text-align: center;
    color: #ff5a5f;
}

.no-underline {
    font-style: none !important;
}

footer a {
    text-decoration: none;
    font-style: none !important;
    color: #757575;
}

footer a:hover {
    font-style: none;
    text-decoration: none !important;
    color: #777777;
}

footer a:active {
    font-style: none;
    text-decoration: none !important;
    color: #777777;
}

footer a:visited {
    font-style: none;
    text-decoration: none !important;
    color: #777777;
}

footer {
    padding-left: auto;
    padding-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: #757575;
    font-size: 13px;
    font-weight: 200;
}

footer ul {
    list-style: none;
    padding: 10px;
    text-align: center;
}

footer ul li {
    text-decoration: none !important;
    display: inline;
    margin: 50px;
}

p.class-name {
    font-weight: bold;
}

.footer-line {
    height: 1px;
    width: 400px;
}

.fullblock_btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.block_btn {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.standard-title {
    text-align: center;
    font-size: 175%;
    color: #757575;
    font-weight: 200;
}

.headbar_caret {
    display: inline-block;
    padding: 15px;
    border-left: 1px solid #bdc3c7;
}

.headbar_caret:active {
    background-color: #bdc3c7;
}

.standard-font {
    font-weight: 200;
}

.standard-input {
    display: block;
    border: none;
    border-bottom: 2px solid #ecf0f1;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 13px;
}

.standard-input:focus {
    outline: none;
    border-bottom-color: #3498db !important;
}

.standard-input:hover {
    border-bottom-color: #b3e6ff;
}

.standard-red-input {
    display: block;
    border: none;
    border-bottom: 2px solid #ecf0f1;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 13px;
}

.standard-red-input:focus {
    outline: none;
    border-bottom-color: #ff5a5f !important;
}

.standard-red-input:hover {
    border-bottom-color: #ff9999;
}

.standard-green-input {
    display: block;
    border: none;
    border-bottom: 2px solid #ecf0f1;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 13px;
}

.standard-green-input:focus {
    outline: none;
    border-bottom-color: #16a085 !important;
}

.standard-green-input:hover {
    border-bottom-color: #1abc9c;
}

.standard-body {
    text-align: center;
    font-size: 150%;
    color: #757575;
    font-weight: 200;
}

.dropdown-menu {
    border-radius: 0;
    color: #777777;
    background-color: #ffffff;
}

/* pop ups */
form#signup-popup {
    width: 350px;
    height: 390px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
    background-color: white;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
}

form#signin-popup {
    width: 350px;
    height: 320px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
    background-color: white;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
}

div#references-popup {
    width: 400px;
    height: 320px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
    background-color: white;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
}

button#google-login {
    margin-top: 10px;
}

div#signup-error-message {
    text-align: center;
    margin-bottom: 13px;
    color: #e74c3c;
    font-size: 105%;
}

.cancel_icon {
    font-family: 'Glyphicons Halflings';
    
    position: absolute;
    top: 10px;
    right: 10px;
}

.cancel_icon:before {
    content: '\e014';
}

.cancel_icon:hover {
    cursor: pointer;
}

/* global style ends*/


/* home page style starts*/

.homepage_img {
    width: 100%;
}

h1.standard {
    text-align: center;
    font-size: 225%;
    color: #757575;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}

p#no-recommended-courses {
    text-align: center;
    font-size: 1.5em;
    color: #757575;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}

#unenroll_form {
    width: 300px;
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    top: 24%;
    bottom: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.user_name {
    display: inline-block;
}

.edit_profile_btn {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #1abc9c;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 19px;
}

.edit_icon {
    color: white;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 14px;
}

.standard_ref_list {
    margin-top: 20px;
}


/* ensure that the notifications well has no upper padding */

aside#notifications-feed .well {
    padding-top: 0px;
}


/* add a border between notifications, and some padding */

aside#notifications-feed article.notification:not(:last-child) {
    border-bottom: 1px solid gray;
}

aside#notifications-feed article.notification {
    padding-bottom: 8px;
    margin-top: 8px;
}


/* don't let there be space between the message and the timestamp */

aside#notifications-feed article.notification p {
    margin-bottom: 0px;
}


/* home page style ends*/


/* profile page style starts*/

#profile_name {
    color: #ffffff;
    text-align: center;
    padding-top: 22px;
    font-size: 600%;
}

#green_background {
    background-color: #1abc9c;
}

#light_green_background {
    background-color: #2ecc71;
}

#blue_background {
    background-color: #3498db;
}

#yellow_background {
    background-color: #f1c40f;
}

#orange_background {
    background-color: #f39c12;
}

#red_background {
    background-color: #e74c3c;
}

#grey_background {
    background-color: #95a5a6;
}

.profilepage_img {
    width: 100%;
    height: 400px;
}

.profile_icon {
    width: 45px;
    height: 40px;
    margin: 5px;
    border-right: 1px solid #bdc3c7;
    padding-right: 5px;
}

.profile_pic {
    position: absolute;
    z-index: 20;
    display: block;
    top: 387px;
    left: 13%;
    background-color: #ecf0f1;
    border: 5px solid #ffffff;
    width: 150px;
    height: 150px;
}

.class_container {
    padding: 10px;
    width: 90%;
    margin: 20px auto;
    margin-left: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
}

.class_title {
    margin: 10px auto;
}

.professor_title {
    margin: 10px auto;
    font-size: 140%
}

.drop_course_btn {
    padding: 24px 15px;
    margin-top: 4px;
}

.stop_teaching_btn {
    padding: 24px 15px;
    margin-top: 4px;
}


/* profile page style ends*/