/* have the search bar be take up nearly all the width and be centred;
 * also make it be a bit larger in height
 */
input#class-search {
    height: 3em;
    width: 90%;
    font-size: 1.5em;
    
    margin: 20px auto;
}

/* any paragraphs directly within a section should have some padding */
section > p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* only show recommendations if there was no search */
section#recommended-classes {
    display: none;
}


main.no-search section#recommended-classes {
    display: initial;
}


/* class blocks */
article.class {
    border: 1px solid #e5e5e5;
    
    margin: 0 1em;
    padding: 0.75em;
}

article.class:not(:last-child) {
    margin-bottom: 1em;
}


article.class p.class-title {
    display: inline-block;
    margin-right: 2em;
    
    font-weight: bold;
}

article.class p.class-name {
    display: inline-block;
}


footer {
    margin-top: 20px;
    text-align: center;
}


/* landscape mobile and larger ---------------------------------------------*/
@media screen and (min-width: 480px) {
}


/* tablet mode and larger --------------------------------------------------*/
@media screen and (min-width: 768px) {
    /* have the input take up even less of the total width */
    input#class-search {
        width: 80%;
    }
    
    /* move the search box a bit lower */
    input#class-search {
        margin-top: 40px;
    }
}


/* landscape tablet and desktop mode ---------------------------------------*/
@media screen and (min-width: 1024px) {
}