#edit_button {
    position: relative;
    bottom: 8px;
}

#banner_img {
    width: 200px;
    height: 150px;
}


hr {
    size: 2px;
}

.edit_btn {
    background-color: green;
    margin-bottom: 0px;
}