/* global style starts*/

.global_font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0px !important;
}

.beautiful_btn {
    padding: 15px;
    background-color: #3498db !important;
    background-image: none !important;
    border: none;
    border-radius: 0;
}

.beautiful_btn:active {
    background-color: #265a88 !important;
}

.beautiful_btn:hover {
    background-color: #265a88 !important;
}

.beautiful_red_btn {
    margin-left: 8px;
    padding: 15px;
    background-color: #ff5a5f;
    background-image: none !important;
    border: none;
    border-radius: 0;
}

.beautiful_red_btn:hover {
    background-color: #e74c3c;
}

.beautiful_red_btn:active {
    background-color: #e74c3c;
}

.beautiful_green_btn {
    margin-left: 8px;
    padding: 15px;
    color: #ffffff !important;
    background-color: #1abc9c;
    background-image: none !important;
    border: none;
    border-radius: 0;
}

.beautiful_green_btn:active {
    color: #ffffff !importnat;
    background-color: #16a085;
}

.beautiful_green_btn:hover {
    color: #ffffff;
    background-color: #16a085;
}

.beautiful_headbar {
    width: 100%;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

.abs_center_search {
    width: 500px;
    height: 50px;
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.beautiful_container {
    background-color: #ffffff;
    padding: 15px;
    margin: auto;
    margin-top: 40px;
    width: 300px;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
}

footer a {
    color: white;
}

footer a:hover {
    font-style: underline;
    color: white;
}

footer {
    padding-left: auto;
    padding-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #a6acaf;
    color: white;
    font-size: 13px;
}

footer ul {
    list-style: none;
    padding: 10px;
    text-align: center;
}

footer ul li {
    display: inline;
    margin: 50px;
}

.footer-line {
    height: 1px;
    width: 400px;
}

.fullblock_btn{
    display: block;
    width: 100%;
    margin: 0 auto;
}

.block_btn {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.beautiful_title {
    text-align: center;
    font-size: 175%;
    color: #757575;
    font-weight: 200;
}

.headbar_caret {
    display: inline-block;
    padding: 15px;
    border-left: 1px solid #bdc3c7;
}

.headbar_caret:active {
    background-color: #bdc3c7;
}

.beautiful_font {
    font-weight: 200;
}

.headbar_search {
    width: 500px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.headbar_search_input {
    max-width: 350px;
}

.beautiful_input {
    display: block;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #ecf0f1;
}

.beautiful_input:focus {
    outline: none;
    border-bottom-color: #3498db !important;
}

.beautiful_input:hover {
    border-bottom-color: #b3e6ff;
}

.beautiful_red_input {
    display: block;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #ecf0f1;
}

.beautiful_red_input:focus {
    outline: none;
    border-bottom-color: #ff5a5f !important;
}

.beautiful_red_input:hover {
    border-bottom-color: #ff9999;
}

.beautiful_green_input {
    display: block;
    width: 75%;
    height: 50px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #ecf0f1;
}

.beautiful_green_input:focus {
    outline: none;
    border-bottom-color: #16a085 !important;
}

.beautiful_green_input:hover {
    border-bottom-color: #1abc9c;
}

#signup_form {
    width: 300px;
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    top: 16%;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#userlogin_form {
    width: 300px;
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    top: 24%;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.cancel_icon {
    margin-left: 95%;
}

.beautiful_body {
    text-align: center;
    font-size: 150%;
    color: #757575;
    font-weight: 200;
}


/* global style ends*/


/* index page style starts*/

.homepage_img {
    width: 100%;
}

.beautiful_search {
    padding: 24px;
    border-radius: 0;
    border: none;
}

.beautiful_title_top_course {
    text-align: center;
    font-size: 225%;
    color: #757575;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}

#unenroll_form {
    width: 300px;
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    top: 24%;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.user_name {
    display: inline-block;
}

.edit_profile_btn {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #1abc9c;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 19px;
}

.edit_icon {
    color: white;
    width: 20;
    height: 20px;
    margin-left: 15px;
    margin-top: 14px;
}


/* index page style ends*/


/* profile page style starts*/

.profilepage_img {
    width: 100%;
    height: 400px;
}

.profile_icon {
    margin: 5px;
}

.profile_pic {
    position: absolute;
    z-index: 20;
    display: block;
    top: 387px;
    left: 13%;
    background-color: #ecf0f1;
    border: 5px solid #ffffff;
}

.class_container {
    padding: 10px;
    width: 90%;
    margin: 20px auto;
    margin-left: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.23);
}

.class_title {
    margin: 10px auto;
}

.professor_title {
    margin: 10px auto;
    font-size: 140%
}

.drop_course_btn {
    padding: 24px 15px;
    margin-top: 4px;
}


/* profile page style ends*/