.global_font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nomargin {
    margin: 0;
}

.homepage_img {
    width: 100%;
}

.beautiful_btn {
    padding: 15px;
    background-color: #3498db !important;
    background-image: none !important;
    border: none;
    border-radius: 0;
}

.beautiful_admin_btn {
    margin-left: 8px;
    padding: 15px;
    background-color: #ff5a5f;
    background-image: none !important;
    border: none;
    border-radius: 0;
}

.beautiful_admin_btn:hover {
    background-color: #e74c3c;
}

.beautiful_headbar {
    width: 100%;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

.beautiful_search {
    padding: 24px;
    border-radius: 0;
    border: none;
}

.abs_center_search {
    width: 500px;
    height: 50px;
    z-index: 20;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
footer a {
    color: white;
}
footer a:hover {
    font-style: underline;
    color: white;
}
footer {
    padding-left: auto;
    padding-right: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #a6acaf;
    color: white;
    font-size: 13px;
}
footer ul {
    list-style: none;
    padding: 10px;
    text-align: center;
}
footer ul li {
    display: inline;
    margin: 50px;
}
.footer-line {
     height: 1px;
     width: 400px;
