body {
    font-size: 18px;
    margin: 0px;
}

header {
    font-size: 0.8rem;
    /*color: white;*/
    color: #777;
    /*background-color: #337ab7;*/
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
}

header h1 {
    padding: 8px 5px 8px 10px;
}

header h1, header h2 {
    font-weight: 200;
    margin: 0px;
}

header h2 {
    margin-left: 5px;
}

header h1, header h2, header #tabs-list li, header #tabs-list li a {
    display: inline-block;
}

header h2 {
    color: red;
}

nav #tabs-list {
    margin: 0px;
    padding: 0px;
}

nav #tabs-list li {
    display: inline-block;
    width: 33%;
    text-align: center;
}

nav #tabs-list li a {
    width: 100%;
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid #337ab7;
    font-size: 1.0rem;
    /*color: white;*/
    color: #337ab7;
    text-decoration: none;
}

nav #tabs-list li a:hover {
    color: white;
    /*background-color: #265a88;*/
    background-color: #337ab7;
}

#users-section, #edit-class-section {
    width: 97%;
    margin: auto;
}

#users-section > section, #edit-class-section {
    margin-top: 25px;
    padding: 1px 10px 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 200;
}

#users-section > section h3, #edit-class-section h3 {
    border-bottom: 1px solid  #337ab7;
    color: #337ab7;
}

#search-container {
    width: 350px;
    margin: auto;
    font-size: 1.0rem;
}

#search-container > input {
    display: block;
    width: 100%;
    height: 2.0rem;
    font-size: 1.0rem;
}

.admin-page-button {
    width: 300px;
    height: 35px;
    color: white;
    font-size: 0.9rem;
    background-color: #337ab7;
    border: 0px;
}

.admin-page-button:hover {
    background-color: #265a88;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default; }
    
.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}