body {
    font-size: 18px;
    margin: 0px;
}

header {
    font-size: 0.8rem;
    color: white;
    background-color: #337ab7;
}

header h1 {
    padding: 8px 5px 8px 10px;
}

header h1, header h2 {
    font-weight: 200;
    margin: 0px;
}

header h2 {
    margin-left: 5px;
}

header h1, header h2, header #tabs-list li, header #tabs-list li a {
    display: inline-block;
}

header h2 {
    color: gold;
}

nav #tabs-list {
    margin: 0px;
    padding: 0px;
}

nav #tabs-list li {
    display: inline-block;
    width: 33%;
    text-align: center;
}

nav #tabs-list li a {
    width: 100%;
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid #337ab7;
    font-size: 1.0rem;
    color: white;
    text-decoration: none;
}

nav #tabs-list li a:hover {
    background-color: #265a88;
}

#users-section {
    width: 97%;
    margin: auto;
}

#users-section > section {
    margin-top: 25px;
    padding: 1px 10px 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 200;
}

#users-section > section h3 {
    border-bottom: 1px solid  #337ab7;
    color: #337ab7;
}

#users-section > section > input {
    display: block;
    width: 300px;
    height: 2.0rem;
    margin: auto;
    font-size: 1.0rem;
}